:root { 
  --br-bottom-color: #d7eaff;
  --font-color-primary: #1a232f;
  --font-color-secondary: #566b8d;
  --studs-testimonials-section-bg-color: #f3f9ff;
  --backgr-color-white: white;
  --btn-background-color: #b1c8e4;
  --btn-background-hover-color: #5688c1;
  --font-size-h1: 40px;
  --font-size-h2: 40px;
  --font-size-h5: 20px;
  --font-size-parag: 16px;
  --font-size-parag2: 14px;
  --font-family-priamry: 'SF Pro Display', sans-serif;
  --color-primary: #3597ff;
  --dropdown-link-color: #0d6efd;
  /* --container-section-width: 1320px; */
  --text-color-white: white;
  --section-padding: 48px 0px;
  --font-wgh-300: 300;
  --font-whg-bold: bold;
  /* --section-full-width: 100% */
  --testimonial-box-bg-color: #a54fa2;
  --bg-opacity: 1;
}

body {
  margin: 0;
}



/* SEARCH BAR */
/* +++++++++++++++++++++++++++++++++++++++++ */

header span {
  font-size: 13px;
  color: var(--font-color-primary) !important;
}

.discord-btn {
  padding: 6px 10px;
  border-radius: 15px;
  border-color: #e4e5e7 !important;
  background-color: #f0f1f2 !important;
  font-size: 12px;
  text-decoration: none;
  color: #a2a5ab !important;
}

.discord-btn:hover {
  color: var(--font-color-primary) !important;
  transition: ease-in-out, .20s;
}

header .border-bottom {
  border-color: var(--br-bottom-color) !important;
}


/* SEARCH BAR */
/* +++++++++++++++++++++++++++++++++++++++++ */

.navbar {
  padding: 8px 0px !important;
}

.navbar-brand {
  padding: 5px 0px !important;
  margin: 0px 16px 0px 0px !important;
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.navbar-toggler i {
  color: black;
}

.offcanvas-header {
  display: flex;
  justify-content: end !important;
  padding: 0px !important;
}

.btn-close{
  margin: 16px 24px 16px 0px !important;
  padding: 4px 12px !important;
  width: 10px !important;
  height: 20px !important;
  font-size: 10px;
  color: var(--font-color-primary);
}

.btn-close:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.offcanvas {
  width: 280px !important;
}

.offcanvas-body {
  padding-top: 0px !important;
}

.offcanvas-body ul li {
  margin: 0 auto;
  font-size: var(--font-size-parag2);
}

.offcanvas-body ul li a {
  color: var(--font-color-primary) !important;
  padding: 8px !important;
  margin: 0px 0px 16px 0px !important;
  font-weight: var(--font-whg-bold);
}

@media (max-width: 1200px){
  .stay-open-mobile {display: block !important;}
}

@media (min-width: 1200px){
  .offcanvas-body ul li {
    display: flex;
    margin-left: 0 !important;
    margin-right: 20px;
  }

  .navbar-brand {
    margin-right: 60px !important;
  }

  .offcanvas-body ul li a {
    margin: auto !important;
  }

  .dropdown .dropdown-toggle {
    padding-left: 0 !important;
    padding-right: 20px !important;
  }
}

.dropdown-menu .dropdown-item {
  margin-bottom: 0 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: white !important;
  cursor: pointer;
  color: var(--color-primary) !important;
  transition: ease-in-out, .20s;
}

.nav-item a:hover {
  color: var(--color-primary) !important;
  transition: ease-in-out, .20s;
}

@media (min-width: 1200px){
  .navbar-nav .dropdown {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.btn-primary {
  background-color: var(--color-primary) !important;
  padding: 12px 20px !important;
  font-size: 14px !important;
  margin: 0 auto;
}

.discord-btn-container {
  padding: 48px 0px !important;
}

.discord-btn-container div span {
  margin: 0px 40px 16px !important;
  font-size: 14px;
  text-align: center;
  color: var(--font-color-primary);
  font-weight: 400;
}

.offcanvas-discord-btn {
  padding: 12px !important;
  border-radius: 22px;
  border-color: #e4e5e7 !important;
  background-color: #f0f1f2 !important;
  font-size: 14px;
  text-decoration: none;
  color: #a2a5ab !important;
  font-weight: 400;
  width: 90% !important;
  margin: 0 auto !important;
}

.offcanvas-discord-btn:hover {
  color: var(--font-color-primary) !important;
  transition: ease-in-out, .20s;
}



/* SECTION 1 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */


/* @media (min-width: 390px){} */

@media (max-width: 768px) {
  
  .hero-section {
    height: 440px;
    max-height: 440px;
    background-color: var(--color-primary) !important;
    /* margin-bottom: 48px; */
    display: flex;
  }

  .hero-section .container {
    padding: 0 !important;
    display: flex;
    margin: auto !important;
    max-height: 100%;
  }

  .hero-text-container {
    margin: auto 0 !important;
    z-index: 2;
  }
  
  .hero-text-wrapper {
    padding: 48px 12px;
    margin: auto;
  }

  .hero-text-wrapper h1 {
    font-size: 29px;
    font-weight: var(--font-wgh-300);
    margin-bottom: 24px;
  }

  .hero-text-wrapper span {
    font-weight: var(--font-whg-bold);
  }
  

  .hero-text-wrapper h3 {
    font-size: var(--font-size-parag);
    font-weight: var(--font-wgh-bold);
    margin-bottom: 16px;
  }
  
  .hero-img-container {
    position: absolute;
    opacity: 0.2;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto 0 !important;
    width: 100%;
    display: flex;
  }
  .hero-img-container .img {
    max-height: calc( 100% - 57px );
    max-width: 100%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    /* margin: auto; */
  }

  .hero-img-container .img-fluid {
    max-width: 100%;
    max-height: 370px !important;
    width: auto;
    height: auto;
    margin: auto;
  }
}

@media (min-width: 768px) {
  
  .hero-section {
    height: 996px;
    background-color: var(--color-primary) !important;
    overflow-x: clip;
    margin-bottom: 48px;
  }
  
  .hero-section .container {
    padding-top: 57px;
  }
  
  .hero-text-container {
    margin: 48px 0px;
    padding: 48px 12px;
  }

  .hero-text-wrapper h1 {
    margin: 0px 0px 24px !important;
  }

  .hero-header {
    font-size: 34px;
    font-weight: var(--font-wgh-300);
  }

  .hero-header span {
    font-weight: var(--font-whg-bold);
  }

  .hero-text-wrapper h3 {
    margin-bottom: 16px;
    font-size: 16px;
  }
  
  .hero-img-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
  }

  .hero-img {
    width: 696px;
    margin: auto;
  }

  .hero-circle-container {
    bottom: -115px !important; 
    right: -125px !important;
  }

  .hero-circle {
    width: 241px !important;
    height: 241px !important;
  }
}

@media (min-width: 992px) {
  .hero-section {
    height: 557px;
    background-color: var(--color-primary) !important;
    display: flex;
  }

  .hero-section .container {
    padding-top: 0 !important;
  }

  .hero-text-container {
    width: 44%;
  }
  .hero-text-wrapper h1 {
    font-size: 37px;
    font-weight: var(--font-wgh-300);
    margin-bottom: 24px;
  }

  .hero-text-wrapper span {
    font-weight: var(--font-whg-bold);
  }

  .hero-text-wrapper h3 {
    font-size: var(--font-size-parag);
  }

  .hero-img-container {
    width: 63%;
    position: static;
  }

  .hero-img {
    width: 95%;
    height: 80%;
    margin-top: auto;
    margin-left: auto;  
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    width: 490px;
    z-index: 2;
  }

  .hero-circle-container {
    bottom: -115px !important; 
    right: -115px !important;
  }

  .hero-circle {
    width: 241px !important;
    height: 241px !important;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    height: 440px;
  }

  .hero-text-wrapper h1 {
    font-size: var(--font-size-h1);
  }

  .hero-img {
    height: 418px;
    width: 542px;
    margin-right: auto !important;
    margin-left: auto !important;
    z-index: 2;
  }

  .hero-circle-container {
    bottom: -241px !important; 
    right: -241px !important;
  }

  .hero-circle {
    width: 482px !important;
    height: 482px !important;
  }
}


/* SECTION 2 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.why-openlab-container {
  padding: 72px 12px;
  font-family: var(--font-family-priamry);
}

.why-openlab-text-wrapper p {
  color: var(--font-color-secondary);
}

.why-openlab-text-wrapper h2 {
  font-weight: var(--font-wgh-300);
  color: var(--font-color-primary);
}

.why-openlab-text-wrapper span {
  font-weight: var(--font-whg-bold);
}

.why-card-text-wrapper p {
  color: var(--font-color-secondary);
}

.why-card-text-wrapper h5 {
  color: var(--font-color-primary);
}

.why-card-text-wrapper p {
  color: var(--font-color-secondary);
}

@media (max-width: 768px) {
  .why-openlab-text-wrapper h2 {
    font-size: 29px;
    margin-bottom: 48px;
    font-weight: var(--font-wgh-300);
  }

  .why-openlab-text-wrapper p {
    font-size: var(--font-size-parag);
    margin-bottom: 16px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .why-card {
    width: 100% !important;
    margin: auto;
  }

  .why-card:nth-child(2), .why-card:nth-child(3) {
    padding: 16px 12px 0px;
  }

  .why-card div:nth-child(1) {
    display: flex;
  }

  .why-card img {
    margin: auto;
  }

  .why-card-text-wrapper {
    text-align: center;
    padding: 16px 0px;
  }

  .why-card-text-wrapper h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-whg-bold);
  }

  .why-card-text-wrapper p {
    font-size: var(--font-size-parag2);
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {

  .why-openlab-text-wrapper h2 {
    font-size: 33px;
    margin-bottom: 48px;
  }

  .why-openlab-text-wrapper p {
    margin: 0px 48px 16px;
  }

  .why-card {
    padding: 48px 12px 0px;
    width: 33%;
  }

  .why-card-text-wrapper {
    padding: 16px 0px;
  }

  .why-card-text-wrapper h5 {
    font-weight: var(--font-whg-bold);
  }

  .why-card-text-wrapper p {
    font-size: var(--font-size-parag2);
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .why-openlab-text-wrapper h2 {
    font-size: 37px;
    margin-bottom: 48px;
  }

  .why-openlab-text-wrapper p {
    margin: 0px 48px 16px;
  }

  .why-card {
    padding: 48px 12px 0px;
    width: 33%;
  }

  .why-card-text-wrapper {
    padding: 16px 0px;
  }

  .why-card-text-wrapper h5 {
    font-weight: var(--font-whg-bold);
  }

  .why-card-text-wrapper p {
    font-size: var(--font-size-parag2);
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .why-openlab-cards-container {
    width: 75%;
    margin: auto;
  }
}



/* SECTION 3 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.openlab-vision {
  padding: var(--section-padding);
  font-family: var(--font-family-priamry);
}

/* .vision-text-container {
  width: 75% !important;
} */

/* .vision-text-wrapper {
  padding: 0px 12px;
} */

.vision-text-wrapper h2 {
  color: var(--font-color-primary);
  font-weight: var(--font-wgh-300);
  /* margin-bottom: 48px;
  font-size: var(--font-size-h2); */
}

.vision-text-wrapper span {
  font-weight: var(--font-whg-bold);
}

.vision-text-wrapper p {
  color: var(--font-color-secondary);
  /* margin-bottom: 24px; */
}

/* .vision-text-wrapper p:nth-child(3) {
  margin-bottom: 16px;
} */

@media (max-width: 768px) {

  .openlab-vision .mx-auto {
    padding: 0 4px !important;
  }
  
  .vision-text-container {
    margin-bottom: 16px !important;
    padding: 0px 12px !important;
  }
  
  .vision-text-wrapper h2 {
    margin-bottom: 16px;
    font-size: 26px;
  }

  .vision-text-wrapper p {
    margin-bottom: 24px;
  }

  .vision-text-wrapper p:nth-child(3) {
    margin-bottom: 16px;
  }

  .openlab-vision-container .flex-wrap {
    flex-wrap: wrap !important;
  }
  
  .vision-card {
    margin: 8px !important;
    width: 220px;
    height: 120px;
    padding: 16px 24px;
  }

  .vision-card-1 {
    background-color: #f2f7ff;
  }

  .vision-card-content-wrapper-1 p:nth-child(1) {
    color: #5b94d7 !important;
    font-size: 50px;
    font-weight: var(--font-whg-bold);
    margin-bottom: 4px;
  }

  .vision-card-content-wrapper-1 p:nth-child(2) {
    color: #5b94d7 !important;
    font-size: var(--font-size-parag2);
    font-weight: var(--font-whg-bold);
    margin-bottom: 0;
  }

  .vision-card-2 {
    background-color: #d8f8eb;
  }

  .vision-card-content-wrapper-2 p:nth-child(1) {
    color: #5cc19a !important;
    font-size: 50px;
    font-weight: var(--font-whg-bold);
    margin-bottom: 4px;
  }

  .vision-card-content-wrapper-2 p:nth-child(2) {
    color: #5cc19a !important;
    font-size: var(--font-size-parag2);
    font-weight: var(--font-whg-bold);
    margin-bottom: 0;
  }

  .vision-card-3 {
    background-color: #f8f4d8;
  }

  .vision-card-content-wrapper-3 p:nth-child(1) {
    color: #dbca68 !important;
    font-size: 50px;
    font-weight: var(--font-whg-bold);
    margin-bottom: 4px;
  }

  .vision-card-content-wrapper-3 p:nth-child(2) {
    color: #dbca68 !important;
    font-size: var(--font-size-parag2);
    font-weight: var(--font-whg-bold);
    margin-bottom: 0;
  }

  .vision-card-4 {
    background-color: #f8d8d8;
  }

  .vision-card-content-wrapper-4 p:nth-child(1) {
    color: #b95e73 !important;
    font-size: 50px;
    font-weight: var(--font-whg-bold);
    margin-bottom: 4px;
  }

  .vision-card-content-wrapper-4 p:nth-child(2) {
    color: #b95e73 !important;
    font-size: var(--font-size-parag2);
    font-weight: var(--font-whg-bold);
    margin-bottom: 0;  
  }
}

@media (min-width: 768px) {

  .vision-text-container {
    margin-bottom: 48px !important;
  }

  .vision-text-wrapper h2 {
    margin-bottom: 48px;
    font-size: 34px;
  }

  .vision-text-wrapper p {
    margin-bottom: 24px;
  }

  .vision-text-wrapper p:nth-child(3) {
    margin-bottom: 16px;
  }
  
  .vision-card-1 {
    background-color: #f2f7ff;
    margin: 8px;
    width: 233px;
    height: 183px;
    padding: 16px 24px;
  }

  .vision-card-content-wrapper-1 p:nth-child(1){
    color: #5b94d7 !important;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-content-wrapper-1 p:nth-child(2){
    color: #5b94d7 !important;
    font-size: 18px;
    margin: 0;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-2 {
    background-color: #d8f8eb;
    margin: 8px;
    width: 233px;
    height: 183px;
    padding: 16px 24px;
  }

  .vision-card-content-wrapper-2 p:nth-child(1){
    color: #5cc19a !important;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-content-wrapper-2 p:nth-child(2){
    color: #5cc19a !important;
    font-size: 18px;
    margin: 0;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-3 {
    background-color: #f8f4d8;
    margin: 8px;
    width: 233px;
    height: 183px;
    padding: 16px 24px;
  }

  .vision-card-content-wrapper-3 p:nth-child(1){
    color: #dbca68 !important;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-content-wrapper-3 p:nth-child(2){
    color: #dbca68 !important;
    font-size: 18px;
    margin: 0;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-4 {
    background-color: #f8d8d8;
    margin: 8px;
    width: 233px;
    height: 183px;
    padding: 16px 24px;
  }

  .vision-card-content-wrapper-4 p:nth-child(1){
    color: #b95e73 !important;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-content-wrapper-4 p:nth-child(2){
    color: #b95e73 !important;
    font-size: 18px;
    margin: 0;
    font-weight: var(--font-whg-bold);
  }
}

@media (min-width: 992px) {
  
  .vision-text-container {
    width: 66%;
  }

  .vision-text-wrapper h2 {
    font-size: var(--font-size-h2);
    margin-bottom: 48px;
  }

  .vision-text-wrapper p {
    margin-bottom: 24px;
  }
  
  .vision-card-1 {
    background-color: #f2f7ff;
    margin: 8px;
    width: 233px;
    height: 183px;
    padding: 16px 24px;
  }

  .vision-card-content-wrapper-1 p:nth-child(1){
    color: #5b94d7 !important;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-content-wrapper-1 p:nth-child(2){
    color: #5b94d7 !important;
    font-size: 18px;
    margin: 0;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-2 {
    background-color: #d8f8eb;
    margin: 8px;
    width: 233px;
    height: 183px;
    padding: 16px 24px;
  }

  .vision-card-content-wrapper-2 p:nth-child(1){
    color: #5cc19a !important;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-content-wrapper-2 p:nth-child(2){
    color: #5cc19a !important;
    font-size: 18px;
    margin: 0;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-3 {
    background-color: #f8f4d8;
    margin: 8px;
    width: 233px;
    height: 183px;
    padding: 16px 24px;
  }

  .vision-card-content-wrapper-3 p:nth-child(1){
    color: #dbca68 !important;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-content-wrapper-3 p:nth-child(2){
    color: #dbca68 !important;
    font-size: 18px;
    margin: 0;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-4 {
    background-color: #f8d8d8;
    margin: 8px;
    width: 233px;
    height: 183px;
    padding: 16px 24px;
  }

  .vision-card-content-wrapper-4 p:nth-child(1){
    color: #b95e73 !important;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: var(--font-whg-bold);
  }

  .vision-card-content-wrapper-4 p:nth-child(2){
    color: #b95e73 !important;
    font-size: 18px;
    margin: 0;
    font-weight: var(--font-whg-bold);
  }
}

@media (min-width: 1200px) {
  .openlab-vision-container {
    width: 75%;
  }

  .vision-cards-container {
    width: 60% !important;
  }
}


/* SECTION 4 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.openlab-labs {
  padding: var(--section-padding);
  font-family: var(--font-family-priamry);
}

.openlab-labs-header-wrapper h2 {
  color: var(--font-color-primary);
  font-weight: var(--font-wgh-300);
}

.openlab-labs-header-wrapper span {
  font-weight: var(--font-whg-bold);
}

.labs-card-content h5 {
  font-weight: var(--font-whg-bold);
  color: var(--font-color-primary);
}

.labs-card-content span {
  font-weight: var(--font-wgh-300);
}

.labs-card-content p {
  color: var(--font-color-secondary);
}

.labs-card:hover {
  box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
  -webkit-box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
  -moz-box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
  transition-timing-function: ease-in-out;
  transition: .3s;
  border-radius: 3px;
}

.labs-card:hover i {
  color: var(--color-primary);
}

@media (min-width: 600px){
  .openlab-labs-cards-wrapper {
    display: flex;
  }

  .labs-card {
    width: 33%;
  }

  .labs-card-content {
    height: 305px
  }

  .labs-card-content i {
    top: 255px;
  }
}
@media (max-width: 768px){
  
  .openlab-labs-header-wrapper {
    margin-bottom: 24px !important;
  }
  
  .openlab-labs-cards-wrapper {
    padding: 0px !important;
  }
  
  .labs-card-content {
    padding: 24px 24px 48px;
  }

  .labs-card-content h5 {
    font-size: var(--font-size-h5);
  }

  .labs-card-content p {
    font-size: var(--font-size-parag2);
    margin-bottom: 10px;
  }
}
@media (min-width: 768px){
  
  .openlab-labs-header-wrapper {
    margin-bottom: 48px;
  }

  .openlab-labs-header-wrapper h2 {
    font-size: 33px;
  }

  .openlab-labs-cards-wrapper {
    column-gap: 10px;
  }

  .labs-card-content {
    padding: 24px 24px 48px;
  }

  .labs-card-content {
    height: 240px
  }

  .labs-card-content h5 {
    font-size: var(--font-size-h5);
  }

  .labs-card-content p {
    font-size: var(--font-size-parag2);
  }

  .labs-card-content i {
    top: 195px;
  }
}
@media (min-width: 992px){
  .openlab-labs-header-wrapper {
    width: 70% !important;
  }

  .openlab-labs-header-wrapper h2 {
    font-size: 37px;
  }

  .labs-card-content {
    height: 303px;
  }

  .labs-card-content i {
    top: 255px;
  }
}
@media (min-width: 1200px){
  .openlab-labs-header-wrapper {
    width: 55% !important;
  }

  .labs-card-content {
    height: 250px;
  }

  .labs-card-content i {
    top: 202px;
  }
}

@media (min-width: 1400px) {
  .openlab-labs-header-wrapper {
    width: 45% !important;
  }

  .labs-card-content {
    padding: 24px 50px 48px;
  }
}


/* SECTION 5 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.openlab-location {
  padding: var(--section-padding);
  font-family: var(--font-family-priamry);
}

.location-header-wrapper h2 {
  color: var(--font-color-primary);
}

.lab-loc h6 {
  color: var(--font-color-secondary);
}

.lab-loc-info-body .loc-name {
  color: var(--font-color-primary);
}

.loc-alert span {
  color: red;
}

.loc-website a {
  color: var(--color-primary);
}

@media (max-width: 320px){

  .openlab-location .container {
    padding: 0px;
  }
  
  .location-header-wrapper {
    margin: 0px 0px 16px;
  }

  .location-header-wrapper h2 {
    font-size: 26px !important;
    text-align: center !important;
    font-weight: var(--font-wgh-300);
    margin-bottom: 48px !important;
  }

  .location-header-wrapper span {
    font-weight: var(--font-whg-bold);
  }

  .openlab-loc-cards-container {
    padding: 0px 12px !important;
  }

  .location-banner {
    width: 100%;
    margin: 0px !important;
    padding: 0px 12px;
  }

  .loc-card-info-body {
    padding: 24px 0px 16px;
  }

  .loc-card-info-body h6 {
    font-weight: var(--font-wgh-300);
  }

  .loc-name {
    font-size: var(--font-size-h5);
    font-weight: var(--font-whg-bold);
  }

  .loc-website {
    font-size: var(--font-size-h5);
    margin-top: 16px;
  }

}
@media (max-width: 768px){

  .location-header-wrapper {
    padding: 0px;
    margin: 0px 0px 16px;
    display: flex;
  }
  
  .location-header-wrapper h2 {
    font-size: 29px !important;
    font-weight: var(--font-wgh-300);
    margin: 0px 0px 48px !important;
    margin: auto !important;
    margin-bottom: 48px !important;
  }

  .location-header-wrapper span {
    font-weight: var(--font-whg-bold);
  }

  .openlab-loc-cards-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .loc-card-info-body {
    padding: 24px 0px 16px;
  }

  .loc-card-info-body h6 {
    font-weight: var(--font-wgh-300);
  }

  .loc-name {
    font-size: var(--font-size-h5);
    font-weight: var(--font-whg-bold);
  }

  .loc-website {
    font-size: var(--font-size-h5);
    margin-top: 16px;
  }

}
@media (min-width: 768px){

  .openlab-location {
    overflow-x: clip;
  }
  
  .openlab-location-container {
    padding-bottom: 24px !important;
  }
  
  .openlab-loc-cards-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .location-header-wrapper {
    padding: 0px 12px !important;
    margin: 0px 0px 16px;
    display: flex;
  }
  
  .location-header-wrapper h2 {
    font-size: 33px !important;
    font-weight: var(--font-wgh-300);
    margin: 0px 0px 48px !important;
    margin: auto !important;
    margin-bottom: 48px !important;
  }

  .location-header-wrapper span {
    font-weight: var(--font-whg-bold);
  }

  .loc-card-info-body {
    padding: 24px 0px 16px;
  }

  .loc-card-info-body h6 {
    font-weight: var(--font-wgh-300);
  }

  .loc-name {
    font-size: var(--font-size-h5);
    font-weight: var(--font-whg-bold);
  }

  .loc-website {
    font-size: var(--font-size-h5);
    z-index: 3;
  }

  .loc-img {
    width: 218px !important;
    bottom: -170px;
    right: -110px;
    z-index: 2;
  }
}
@media (min-width: 992px){
  
  .openlab-loc-cards-container {
    width: 90% !important;
    margin: auto;
  }
  
  .loc-name {
    width: 55%;
  }

  .loc-website {
    margin-top: auto;
  }  
}
@media (min-width: 1200px){
  
  .loc-name {
    width: 58%;
  }

  .loc-img {
    width: 436px !important;
    bottom: -260px;
    right: -228px;
    z-index: -1;
  }
}

@media (min-width: 1200px) {

  .location-banner {
    z-index: 3;
  }
  
  .loc-img {
    z-index: 1;
  }

}



/* SECTION 6 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.student-testimonials {
  background-color: var(--studs-testimonials-section-bg-color);
  font-family: var(--font-family-priamry);
}

.student-testimonials-container {
  padding-top: 48px;
}

.students-testimonials-text-wrapper div h2 {
  color: var(--font-color-primary);
}

.testimonial-parag-wrapper p {
  color: var(--font-color-secondary);
}

.student-info-wrapper div h5 {
  color: var(--font-color-secondary);
}

.stud-btn-prev {
  background-color: var(--btn-background-color);
  border: 0;
  padding: 5px 10px;
  color: white;
}

.stud-btn-prev:hover {
  background-color: var(--btn-background-hover-color);
  transition-timing-function: ease-in-out;
  transition: .3s;
}

.stud-btn-next {
  background-color: var(--btn-background-color);
  border: 0;
  padding: 5px 10px;
  color: white;
}

.stud-btn-next:hover {
  background-color: var(--btn-background-hover-color);
  transition-timing-function: ease-in-out;
  transition: .3s;
}

@media (max-width: 320px){

  .student-testimonials {
    height: 600px !important;
  }

  .students-testimonials-text-wrapper div h2 {
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: var(--font-wgh-300);
  }

  .students-testimonials-text-wrapper div span {
    font-weight: var(--font-whg-bold);
  }

  .testimonial-parag-wrapper {
    padding: 29px 11px 0px;
  }
  
  .testimonial-parag-wrapper p {
    margin-bottom: 48px;
  }

  .quotation-mark {
    top: 0;
    left: -3px;
  }

  .student-info-wrapper {
    margin-bottom: 48px;
    padding-bottom: 48px;
  }
  
  .student-info-wrapper div h5 {
    margin-bottom: 0;
    font-size: var(--font-size-parag2);
    font-weight: var(--font-whg-bold);
  }

  .student-info-wrapper div p {
    font-size: var(--font-size-parag2);
    margin-bottom: 0;
  }

  .stud-btn-wrapper {
    right: 0 !important;
    top: 422px !important;
  }

  /* .stud-btn-prev {
    bottom: 70px !important;
    right: 40px !important;
  }

  .stud-btn-next {
    bottom: 70px !important;
    right: 0px !important;
  } */

}
@media (max-width: 768px){

  .student-testimonials {
    height: 480px;
  }

  .students-testimonials-text-wrapper div h2 {
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: var(--font-wgh-300);
  }

  .students-testimonials-text-wrapper div span {
    font-weight: var(--font-whg-bold);
  }

  .testimonial-parag-wrapper {
    padding: 48px 20px 0px;
    /* max-height: 301px !imporstant; */
  }

  .testimonial-parag-wrapper p {
    margin-bottom: 48px;
  }

  .quotation-mark {
    top: 18px;
    left: 7px;
  }

  .student-info-wrapper {
    margin-bottom: 48px;
    padding-bottom: 48px;
  }

  .student-info-wrapper div h5 {
    margin-bottom: 0;
    font-size: var(--font-size-parag2);
    font-weight: var(--font-whg-bold);
  }

  .student-info-wrapper div p {
    font-size: var(--font-size-parag2);
    margin-bottom: 0;
  }

  .stud-btn-wrapper {
    right: 0px;
    top: 325px
  }

  /* .stud-btn-prev {
    bottom: 60px;
    right: 70px;
  }

  .stud-btn-next {
    bottom: 60px;
    right: 30px;
  } */

}
@media (min-width: 768px){

  /* .student-testimonials {
    height: 524px;
  } */

  .students-testimonials-text-wrapper div h2 {
    font-size: 34px;
    margin-bottom: 16px;
    font-weight: var(--font-wgh-300);
  }

  .students-testimonials-text-wrapper div span {
    font-weight: var(--font-whg-bold);
  }

  .testimonial-parag-wrapper {
    padding: 34px 14px 0px;
    width: 93%;
  }

  .testimonial-parag-wrapper p {
    margin-bottom: 48px;
  }

  .quotation-mark {
    top: 6px;
    left: 0px;
  }

  .student-info-wrapper {
    margin-bottom: 48px;
    padding-bottom: 48px;
  }

  .student-info-wrapper div h5 {
    margin-bottom: 0;
    font-size: var(--font-size-parag2);
    font-weight: var(--font-whg-bold);
  }

  .student-info-wrapper div p {
    font-size: var(--font-size-parag2);
    margin-bottom: 0;
  }

  .stud-btn-wrapper {
    right: 0px;
    top: 280px;
  }

  /* .stud-btn-prev {
    bottom: 80px;
    right: 70px;
  }

  .stud-btn-next {
    bottom: 80px;
    right: 30px;
  } */

}
@media (min-width: 992px){

  /* .student-testimonials {
    height: 504px;
  } */

  .students-testimonials-text-wrapper div h2 {
    font-size: 40px;
  }
  
  .stud-text-wrapper {
    width: 50%;
  }

  .students-testimonials-img-wrapper {
    width: 456px;
    height: 400px;
    /* position: relative; */
  }

  .students-testimonials-img-wrapper img {
    /* position: absolute; */
    bottom: -70px;
    left: -25px;
    width: 100%;
    height: 100%;
  }

  .stud-btn-wrapper {
    top: 342px;
    right: 35px;
  }

  /* .stud-btn-prev {
    bottom: 80px;
    right: 85px;
  }

  .stud-btn-next {
    bottom: 80px;
    right: 45px;
  } */

}
@media (min-width: 1200px){

  /* .student-testimonials {
    height: 610px;
  } */

  .stud-text-wrapper {
    display: flex;
    width: 42%;
  }

  .stud-text-wrapper-aligner {
    margin: auto 0;
  }
  
  .students-testimonials-img-wrapper {
    width: 566px;
    height: 506px;
  }

  .students-testimonials-img-wrapper img {
    bottom: 0px;
    left: 5px;
  }

}

@media (min-width: 1400px){

  .students-testimonials-img-wrapper {
    width: 606px;
    height: 526px;
  }
  
  .students-testimonials-img-wrapper img {
    bottom: 0px;
    left: -10px;
  }

  .stud-btn-wrapper {
    top: 320px;
  }

}



/* SECTION 10 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */


.whyus-section {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
  font-family: var(--font-family-priamry);
}

.whyus-container {
  padding-top: 48px;
}

.whyus-header-wrapper h2 {
  color: var(--font-color-primary);
  font-weight: var(--font-wgh-300);
}

.whyus-header-wrapper span {
  color: var(--font-color-primary);
  font-weight: var(--font-whg-bold);
}

.whyus-card-text-wrapper h5 {
  color: var(--font-color-primary);
  font-weight: var(--font-whg-bold);
}

.whyus-card-text-wrapper p {
  color: var(--font-color-secondary);
  overflow-wrap: break-word;
}

.whyus-section .border-bottom {
  border-color: var(--br-bottom-color);
}

@media (max-width: 320px){

  .whyus-header-wrapper h2 {
    font-size: 26px !important;
  }

}

@media (max-width: 575px){
  .whyus-container {
    padding: 48px 12px;
  }
}

@media (min-width: 575px){

  .whyus-container {
    padding: 48px 12px;
  }

}

@media (max-width: 768px){

  .whyus-header-wrapper h2 {
    font-size: 29px;
  }

}

@media (min-width: 768px){

  .whyus-header-wrapper h2 {
    font-size: 33px !important;
  }

  .whyus-card {
    padding-top: 48px !important; 
  }

}
@media (min-width: 992px){

  .whyus-header-wrapper h2 {
    font-size: 37px !important;
  }

}
@media (min-width: 1200px){

  .whyus-header-wrapper h2 {
    font-size: var(--font-size-h2) !important;
  }

}