:root { 
  --br-bottom-color: #d7eaff;
  --font-color-primary: #1a232f;
  --font-color-secondary: #566b8d;
  --font-size-h1: 40px;
  --font-size-h2: 40px;
  --font-size-h5: 20px;
  --font-size-parag: 16px;
  --font-size-parag2: 14px;
  --font-family-priamry: 'SF Pro Display', sans-serif;
  --color-primary: #3597ff;
  --dropdown-link-color: #0d6efd;
  --container-section-width: 1320px;
  --text-color-white: white;
  --section-padding: 48px 0px;
  --font-wgh-300: 300;
  --font-whg-bold: bold;
  --section-full-width: 100%
}

body {
  margin: 0;
  overflow-x: hidden;
}


/* SEARCH BAR */
/* +++++++++++++++++++++++++++++++++++++++++ */

header span {
  font-size: 13px;
  color: var(--font-color-primary) !important;
}

.discord-btn {
  padding: 6px 10px;
  border-radius: 15px;
  border-color: #e4e5e7 !important;
  background-color: #f0f1f2 !important;
  font-size: 12px;
  text-decoration: none;
  color: #a2a5ab !important;
}

.discord-btn:hover {
  color: var(--font-color-primary) !important;
  transition: ease-in-out, .20s;
}

header .border-bottom {
  border-color: var(--br-bottom-color) !important;
}


/* SEARCH BAR */
/* +++++++++++++++++++++++++++++++++++++++++ */

nav {
  padding: 16px 0px !important;
}

nav .container {
  max-width: var(--container-section-width) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links{
  margin-right: 18em;
}

nav a {
  padding: 8px !important;
  font-family: var(--font-family-priamry);
  font-size: 14px;
  text-decoration: none;
  color: var(--font-color-primar);
  font-weight: 600;
}

nav a:hover {
  color: var(--color-primary);
  transition: ease-in-out, .20s;
}

.dropdown-btn {
  overflow: hidden;
  background-color: inherit;
  cursor: pointer;
  border: none;
  font-size: 14px;
  display: flex;
  margin: auto 0;
  color: var(--font-color-primary);
  font-weight: 600;
}

.dropdown-btn:hover {
  color: var(--color-primary);
  transition: ease-in-out, .20s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  border-radius: 6px;
}

.dropdown-content a {
  float: none;
  color: var(--font-color-primary);
  padding: 6px 16px !important;
  text-decoration: none;
  display: block;
  text-align: left;
}       

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: var(--color-primary);
  transition: ease-in-out, .20s;
}

.dropdown i {
  padding-left: 8px;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  padding: 12px 20px !important;
  font-size: 14px !important;
}


/* SECTION 1 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.hero-section {
  height: 440px;
  background-color: var(--color-primary) !important;
  width: var(--section-full-width);
  margin-bottom: 48px;
}

.hero-container {
  width: var(--container-section-width);
}

.hero-circle {
  width: 482px !important;
  right: -236px;
  bottom: -230px;
}

.hero-text-container {
  width: 50%;
}

.hero-text-wrapper {
  padding: 48px 12px;
}

.hero-header {
  font-size: var(--font-size-h1);
  font-weight: var(--font-wgh-300) !important;
  margin-bottom: 24px;
}

.hero-span-text {
  font-weight: var(--font-whg-bold) !important;
}

.hero-parag {
  font-size: var(--font-size-parag) !important;
  margin-bottom: 16px;
}


/* SECTION 2 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.why-openlab {
  width: var(--section-full-width);
  padding: var(--section-padding);
}

.why-openlab-container {
  width: var(--container-section-width);
  padding: 24px 12px;
}

.why-openlab-text-wrapper h2 {
  font-size: var(--font-size-h2) !important;
  font-weight: var(--font-wgh-300) !important;
  margin-bottom: 48px;
  color: var(--font-color-primary);
}

.why-openlab-text-wrapper span {
  font-weight: var(--font-whg-bold);
}

.why-openlab-text-wrapper p {
  margin: 0px 48px 16px;
  color: var(--font-color-secondary);
}

.why-card {
  width: 25%;
  padding: 48px 12px 0px;
}

.why-card-text-wrapper {
  padding: 16px 0px;
}

.why-card-text-wrapper h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-whg-bold);
  margin-bottom: 8px;
  color: var(--font-color-primary);
}

.why-card-text-wrapper p { 
  font-size: var(--font-size-parag2);
  overflow-wrap: break-word;
  color: var(--font-color-secondary);
}


/* SECTION 3 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.openlab-vision {
  width: var(--section-full-width);
  padding: var(--section-padding);
}

.openlab-vision-container {
  width: var(--container-section-width);
}

.vision-text-container {
  width: 70% !important;
}

.vision-text-wrapper {
  padding: 0px 12px;
}

.vision-text-wrapper h2 {
  color: var(--font-color-primary);
  font-weight: var(--font-wgh-300);
  margin-bottom: 48px;
  font-size: var(--font-size-h2);
}

.vision-text-wrapper span {
  font-weight: var(--font-whg-bold);
}

.vision-text-wrapper p {
  color: var(--font-color-secondary);
  margin-bottom: 24px;
}

.vision-text-wrapper p:nth-child(3) {
  margin-bottom: 16px;
}

.vision-card-1 {
  background-color: #f2f7ff;
  margin: 8px;
  width: 233px;
  height: 183px;
  padding: 16px 24px;
}

.vision-card-content-wrapper-1 p:nth-child(1){
  color: #5b94d7 !important;
  font-size: 90px;
  margin-bottom: 10px;
  font-weight: var(--font-whg-bold);
}

.vision-card-content-wrapper-1 p:nth-child(2){
  color: #5b94d7 !important;
  font-size: 18px;
  margin: 0;
  font-weight: var(--font-whg-bold);
}

.vision-card-2 {
  background-color: #d8f8eb;
  margin: 8px;
  width: 233px;
  height: 183px;
  padding: 16px 24px;
}

.vision-card-content-wrapper-2 p:nth-child(1){
  color: #5cc19a !important;
  font-size: 90px;
  margin-bottom: 10px;
  font-weight: var(--font-whg-bold);
}

.vision-card-content-wrapper-2 p:nth-child(2){
  color: #5cc19a !important;
  font-size: 18px;
  margin: 0;
  font-weight: var(--font-whg-bold);
}

.vision-card-3 {
  background-color: #f8f4d8;
  margin: 8px;
  width: 233px;
  height: 183px;
  padding: 16px 24px;
}

.vision-card-content-wrapper-3 p:nth-child(1){
  color: #dbca68 !important;
  font-size: 90px;
  margin-bottom: 10px;
  font-weight: var(--font-whg-bold);
}

.vision-card-content-wrapper-3 p:nth-child(2){
  color: #dbca68 !important;
  font-size: 18px;
  margin: 0;
  font-weight: var(--font-whg-bold);
}

.vision-card-4 {
  background-color: #f8d8d8;
  margin: 8px;
  width: 233px;
  height: 183px;
  padding: 16px 24px;
}

.vision-card-content-wrapper-4 p:nth-child(1){
  color: #b95e73 !important;
  font-size: 90px;
  margin-bottom: 10px;
  font-weight: var(--font-whg-bold);
}

.vision-card-content-wrapper-4 p:nth-child(2){
  color: #b95e73 !important;
  font-size: 18px;
  margin: 0;
  font-weight: var(--font-whg-bold);
}


/* SECTION 4 */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++ */

.openlab-labs {
  padding: var(--section-padding);
  width: var(--section-full-width);
}

.openlab-labs-container {
  width: var(--container-section-width);
  padding: 24px 12px;
}

.openlab-labs-header-wrapper {
  width: 40%;
}

.openlab-labs-header-wrapper h2 {
  padding: 0px 12px;
  font-size: var(--font-size-h2);
  font-weight: var(--font-wgh-300);
  color: var(--font-color-primary);
}

.openlab-labs-header-wrapper span {
  font-weight: var(--font-whg-bold);
}

.openlab-labs-cards-wrapper {
  width: 60%;
  padding: 0px 12px;
}

.labs-card-content {
  padding: 24px 48px 48px;
  width: 270px;
  height: 240px;
}

.labs-card-content h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-whg-bold);
  color: var(--font-color-primary);
}

.labs-card-content span {
  font-size: var(--font-size-h5);
  font-weight: var(--font-wgh-300);
}

.labs-card-content p {
  font-size: var(--font-size-parag2);
  margin-bottom: 10px;
  color: var(--font-color-secondary);
}

.labs-card-content i {
  bottom: 25px;
}

.labs-card:hover {
  box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
  -webkit-box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
  -moz-box-shadow: 1px 0px 20px 1px rgba(196,196,196,0.75);
  transition-timing-function: ease-in-out;
  transition: .3s;
}